h1 {
  text-align: center;
}

p {
  text-align: center;
}

#para1 {
  color: rgb(0, 0, 0);
}

h1.center {
  text-align: center;
  color: rgb(251, 251, 251);
  padding-top: 80px;
background-color: rgb(155, 79, 38);
padding-bottom: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px;
  background-color: rgb(255, 167, 208);
}

#para3 {
  background-color:rgb(225, 225, 225);
  height: 100px;
}
nav > ul > li {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 0.5rem 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color:rgb(225, 225, 225);
  height: 100px;
}

#headerLogo {
  height: 200px;
}
header {
  text-align: center;
}
#graduation {
  height: 1200px
}
body {
padding: 0;
margin: 0;
}
#contactContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
}
