h1 {
  text-align: center;
}


h1.center {
  text-align: center;
  color: rgb(251, 251, 251);
  padding-top: 80px;
background-color: rgb(155, 79, 38);
padding-bottom: 200px;
}

#para3 {
  background-color:rgb(225, 225, 225);
  height: 100px;
}
nav > ul > li {
  display: inline-block;
  border: none;
  padding: 1.5rem 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
  font-family:Helvetica, sans-serif;
  background-color:#04465F;
  }

  a {
    color: white;
    text-decoration: none;
  }

#headerLogo {
  height: 200px;
}
header {
  text-align: center;
}
#graduation {
  height: 1200px
}
body {
padding: 0;
margin: 0;
}
#contactContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 35%;
  margin-top: 2em;
  height: 40em;
  /* padding-top: 2.5em; */
  margin-bottom: 2em;
}
#bigWrapper {
  /* background-color: lawngreen; */
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

#formContainer {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.contactFormInput{
  margin-bottom: 2em;
  font-size: 24px;
}
textarea {
  resize: none;
}

header {
  background-color: #074065;
}

footer {
  background-color:#04465F;
  /* margin-top: 20em; */
text-align: center;
height: 4em;

}

#root {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background: linear-gradient( #000000aa , #000000aa),url("./assets/images/hats2.jpg")
}
body {
  color: white;
}
#headerLogo {
  filter: invert(100%)
}
.cake {
  width: 30%;
}
.imgContainer {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
margin-bottom: 1em;
backdrop-filter: blur(6px);
}
.localCollege {
display: flex;
/* justify-content: space-around; */
flex-direction: column;
}
.localCollege > p {
  text-align: left;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
#rateSubHead {
text-align: center;
}
.collegeLogo {
width: 50%;
height: 80%;
}

#wash {
text-align: center;
}

#ummy {

}
#webby {

}
#flo {
height: 120%;
}
#harry {

}
#collegeContainer {
  display: grid;
  grid-template-columns: 40em 40em 40em;
  background-color: #146595;
}
.collegeTitle {
  text-align: center;
  font-size: 30px;
}
.bioContainer {
  /* background-color: lawngreen; */
text-align: center;
font-size: 40px;
}
#blow {
  height: 20em;
}
